<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/flexpage.css">
    </head>
<body>
    <header>

    </header>
    <main>
        <section class="main">
            <div class="container">
                <h2>Penktadienis</h2>
                <p>šiaip tekstas</p>
            </div>
        </section>
        <section class="things">
            <div class="container transparent">
                <h2>MANY NICE THINGS</h2>
                <div class="things-list">
                    <div class="thing">
                        <h2>Naujas stulpelis</h2>
                    </div>
                    <div class="thing">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxsFIMx8nk3C6w_xx7U8tsxLx9XMC51pHFqVHbH7htXrYcDdt_rw8B1Q7UQMHTLT-vc_4&usqp=CAU">  
                    </div>
                    <div class="thing">
                        <h3>Penktas super stumdomas daiktas</h3>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxsFIMx8nk3C6w_xx7U8tsxLx9XMC51pHFqVHbH7htXrYcDdt_rw8B1Q7UQMHTLT-vc_4&usqp=CAU">  
                    </div>
                    <div class="thing">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxsFIMx8nk3C6w_xx7U8tsxLx9XMC51pHFqVHbH7htXrYcDdt_rw8B1Q7UQMHTLT-vc_4&usqp=CAU">  
                    </div>
            </div>
            
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div>
                <p>(C) 2022 Middle of Nowhere</p>
            </div>
            <div>
                <ul>
                    <li>Contact us</li>
                    <li>Terms and conditions</li>
                    <li>Privacy policy</li>
                </ul>
            </div>
        </div>

    </footer>
</body>
</html>