<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexing page</title>
    <link rel="stylesheet" href="/static/flex.css">
</head>
<body>
    <div class="container">
        <div class="item">Vienas</div>
        <div class="item">Du</div>
        <div class="item">Trys</div>
        <div class="item">KEturi</div>
        <div class="item">Penki</div>
        <div class="item">Šeši</div>
        <div class="item">Septyni</div>
        <div class="item">Aštuoni</div>
        <div class="item">Devyni</div>
        <div class="item">10</div>
        <div class="item">11</div>
        <div class="item">12</div>
        <div class="item">Buvo vyras kaip pipiras</div>
    </div>
    
</body>
</html>